body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

heat-map {
  width: 1080px;
  height: 720px;
  display: block;
}

heat-map div {
  height: 100%;
}